In [33]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import sklearn

In [153]:
# Loading the dataset into a DataFrame

df_house = pd.read_csv('/Users/allenalex/Desktop/AI-ML practice/price_predictor/train.csv', header=0)
df_house[:20]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
5,Owner,0,0,3,BHK,1250.000000,1,1,"South Chittoor,Kochi",10.033280,76.282571,42.0
6,Dealer,0,0,3,BHK,1495.053957,1,1,"Sodala,Jaipur",26.916347,75.795600,66.5
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0
10,Owner,0,0,3,BHK,1350.308642,1,1,"Deshbandhu Para,Siliguri",26.724219,88.326357,35.0
11,Dealer,0,0,2,BHK,1333.010179,1,1,"Hebbal,Bangalore",13.040340,77.591347,110.0
12,Owner,0,0,2,BHK,927.177902,1,1,"Garebhavipalya,Bangalore",12.969910,77.597960,48.0
13,Owner,0,1,2,BHK,1122.171946,1,1,"Sector-119 Noida,Noida",28.587711,77.403123,62.0
14,Owner,0,0,1,BHK,649.983750,1,1,"sanjay nagar,Raigad",13.035200,77.577200,20.0
15,Dealer,1,1,3,BHK,1394.117647,0,1,"Sector-150 Noida,Noida",28.429614,77.481711,71.1
16,Owner,0,0,3,BHK,1800.084710,1,1,"Jharapada,Bhubaneswar",20.275267,85.862407,85.0
17,Dealer,1,1,3,BHK,2124.896706,0,1,"Konanakunte,Bangalore",12.885500,77.563800,180.0
18,Owner,0,0,2,BHK,1100.000000,1,1,"Nagpur Road,Wardha",21.153890,79.083060,22.0
19,Dealer,0,1,3,BHK,2178.649237,1,1,"Kogilu,Bangalore",13.092356,77.613468,120.0

In [154]:
# Creating a new column with City

df_house['City'] = df_house['ADDRESS'].str.split(',').apply(lambda x: x[-1].strip())
df_house[:20]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),City
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,Bangalore
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0,Mysore
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,Bangalore
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,Ghaziabad
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,Kolkata
5,Owner,0,0,3,BHK,1250.000000,1,1,"South Chittoor,Kochi",10.033280,76.282571,42.0,Kochi
6,Dealer,0,0,3,BHK,1495.053957,1,1,"Sodala,Jaipur",26.916347,75.795600,66.5,Jaipur
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0,Mohali
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6,Bangalore
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0,Chennai
10,Owner,0,0,3,BHK,1350.308642,1,1,"Deshbandhu Para,Siliguri",26.724219,88.326357,35.0,Siliguri
11,Dealer,0,0,2,BHK,1333.010179,1,1,"Hebbal,Bangalore",13.040340,77.591347,110.0,Bangalore
12,Owner,0,0,2,BHK,927.177902,1,1,"Garebhavipalya,Bangalore",12.969910,77.597960,48.0,Bangalore
13,Owner,0,1,2,BHK,1122.171946,1,1,"Sector-119 Noida,Noida",28.587711,77.403123,62.0,Noida
14,Owner,0,0,1,BHK,649.983750,1,1,"sanjay nagar,Raigad",13.035200,77.577200,20.0,Raigad
15,Dealer,1,1,3,BHK,1394.117647,0,1,"Sector-150 Noida,Noida",28.429614,77.481711,71.1,Noida
16,Owner,0,0,3,BHK,1800.084710,1,1,"Jharapada,Bhubaneswar",20.275267,85.862407,85.0,Bhubaneswar
17,Dealer,1,1,3,BHK,2124.896706,0,1,"Konanakunte,Bangalore",12.885500,77.563800,180.0,Bangalore
18,Owner,0,0,2,BHK,1100.000000,1,1,"Nagpur Road,Wardha",21.153890,79.083060,22.0,Wardha
19,Dealer,0,1,3,BHK,2178.649237,1,1,"Kogilu,Bangalore",13.092356,77.613468,120.0,Bangalore

In [155]:
# The function that removes the city from 
def remove_lastpart(address):
    parts = address.split(',')
    return ','.join(parts[:-1]).strip()

In [156]:
df_house['ADDRESS'] = df_house['ADDRESS'].apply(remove_lastpart)

In [158]:
col = df_house.pop('City')
df_house.insert(9,'CITY', col)

In [160]:
# getting unique address
len(df_house['ADDRESS'].unique())

5915

In [161]:
# since there are 5915 different addresses, its difficult to represent these into categories 
len(df_house['CITY'].unique())

256

In [162]:
# no of unique cities is 256, hence difficult to represent it as one shot vector
df_house['CITY'].value_counts()

CITY
Bangalore      4340
Lalitpur       2993
Mumbai         2023
Pune           1991
Noida          1767
               ...
Bhadrak           1
Kurukshetra       1
Dibrugarh         1
Sagar             1
Washim            1
Name: count, Length: 256, dtype: int64

In [163]:

# calculate the mean price in each city, there are cities which don't have enough instances to better represent the entire city, 
# we are ignoring that for the time being 
mean_values = df_house.groupby('CITY')['TARGET(PRICE_IN_LACS)'].mean().reset_index()
mean_values

             CITY  TARGET(PRICE_IN_LACS)
0        Agartala              53.000000
1            Agra              39.883133
2      Ahmednagar              39.732000
3           Ajmer              36.238095
4           Akola              32.944444
..            ...                    ...
251  Vizianagaram              27.550000
252      Warangal              49.000000
253        Wardha              24.400000
254        Washim              26.000000
255      Yavatmal              21.500000

[256 rows x 2 columns]

In [164]:
df_house = df_house.merge(mean_values, on='CITY', how='left')
df_house[:30]

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,CITY,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)_x,TARGET(PRICE_IN_LACS)_y
0,Owner,0,0,2,BHK,1300.236407,1,1,Ksfc Layout,Bangalore,12.969910,77.597960,55.0,162.827783
1,Dealer,0,0,2,BHK,1275.000000,1,1,Vishweshwara Nagar,Mysore,12.274538,76.644605,51.0,62.353488
2,Owner,0,0,2,BHK,933.159722,1,1,Jigani,Bangalore,12.778033,77.632191,43.0,162.827783
3,Owner,0,1,2,BHK,929.921143,1,1,Sector-1 Vaishali,Ghaziabad,28.642300,77.344500,62.5,54.406964
4,Dealer,1,0,2,BHK,999.009247,0,1,New Town,Kolkata,22.592200,88.484911,60.5,99.807080
5,Owner,0,0,3,BHK,1250.000000,1,1,South Chittoor,Kochi,10.033280,76.282571,42.0,133.881463
6,Dealer,0,0,3,BHK,1495.053957,1,1,Sodala,Jaipur,26.916347,75.795600,66.5,55.332848
7,Owner,0,1,3,BHK,1181.012946,1,1,Kharar,Mohali,30.740000,76.650000,52.0,116.853237
8,Dealer,0,1,2,BHK,1040.000000,1,1,Bileshivale,Bangalore,13.054202,77.674002,41.6,162.827783
9,Owner,0,1,2,BHK,879.120879,1,1,Chromepet,Chennai,12.951610,80.140970,36.0,141.673147
10,Owner,0,0,3,BHK,1350.308642,1,1,Deshbandhu Para,Siliguri,26.724219,88.326357,35.0,37.712048
11,Dealer,0,0,2,BHK,1333.010179,1,1,Hebbal,Bangalore,13.040340,77.591347,110.0,162.827783
12,Owner,0,0,2,BHK,927.177902,1,1,Garebhavipalya,Bangalore,12.969910,77.597960,48.0,162.827783
13,Owner,0,1,2,BHK,1122.171946,1,1,Sector-119 Noida,Noida,28.587711,77.403123,62.0,135.036791
14,Owner,0,0,1,BHK,649.983750,1,1,sanjay nagar,Raigad,13.035200,77.577200,20.0,28.918462
15,Dealer,1,1,3,BHK,1394.117647,0,1,Sector-150 Noida,Noida,28.429614,77.481711,71.1,135.036791
16,Owner,0,0,3,BHK,1800.084710,1,1,Jharapada,Bhubaneswar,20.275267,85.862407,85.0,60.595532
17,Dealer,1,1,3,BHK,2124.896706,0,1,Konanakunte,Bangalore,12.885500,77.563800,180.0,162.827783
18,Owner,0,0,2,BHK,1100.000000,1,1,Nagpur Road,Wardha,21.153890,79.083060,22.0,24.400000
19,Dealer,0,1,3,BHK,2178.649237,1,1,Kogilu,Bangalore,13.092356,77.613468,120.0,162.827783
20,Owner,0,0,2,BHK,881.143529,1,1,Poonamallee,Chennai,13.050000,80.110000,45.0,141.673147
21,Dealer,0,0,2,BHK,944.881890,1,1,Undri,Pune,18.452663,73.931040,42.0,134.196961
22,Dealer,0,1,3,BHK,1310.147689,1,1,Sector-134 Noida,Noida,28.504100,77.381557,55.0,135.036791
23,Dealer,0,0,1,BHK,630.000630,1,1,Bandra (West),Mumbai,19.054440,72.840560,300.0,264.615868
24,Dealer,0,0,2,BHK,1219.809710,1,1,Narendra Nagar,Nagpur,21.105779,79.078497,50.0,66.303869
25,Owner,0,0,2,BHK,780.141844,1,1,Kudgat,Kolkata,22.541110,88.337780,27.5,99.807080
26,Owner,0,0,3,BHK,1600.000000,1,1,Sain Vihar,Ghaziabad,28.636010,77.433724,46.0,54.406964
27,Dealer,0,0,2,BHK,1180.412371,1,1,Sector-115 Mohali,Mohali,30.712867,76.648557,22.9,116.853237
28,Owner,1,0,2,BHK,1000.000000,0,1,Mohan Asram,Deoghar,24.480000,86.700000,39.0,34.050000
29,Dealer,0,0,2,BHK,1000.000000,1,1,Alwar Bypass Road,Bhiwadi,28.210200,76.860600,12.5,25.418634

In [170]:
def remove_col(df, col:str):
    df.pop(col)
    return df

def get_dummies(df,col:str):
   df = pd.get_dummies(df, columns=[col], drop_first=True)
   return df

In [174]:
df_house = get_dummies(df_house,'POSTED_BY')
df_house = get_dummies(df_house,'BHK_OR_RK')
df_house = remove_col(df_house, 'ADDRESS')
df_house = remove_col(df_house, 'CITY')

df_house.astype(float)
df_house.head(30)

# removing address and city cause we cant use it

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)_x,TARGET(PRICE_IN_LACS)_y,POSTED_BY_Dealer,POSTED_BY_Owner,BHK_OR_RK_RK
0,0,0,2,1300.236407,1,1,12.969910,77.597960,55.0,162.827783,False,True,False
1,0,0,2,1275.000000,1,1,12.274538,76.644605,51.0,62.353488,True,False,False
2,0,0,2,933.159722,1,1,12.778033,77.632191,43.0,162.827783,False,True,False
3,0,1,2,929.921143,1,1,28.642300,77.344500,62.5,54.406964,False,True,False
4,1,0,2,999.009247,0,1,22.592200,88.484911,60.5,99.807080,True,False,False
5,0,0,3,1250.000000,1,1,10.033280,76.282571,42.0,133.881463,False,True,False
6,0,0,3,1495.053957,1,1,26.916347,75.795600,66.5,55.332848,True,False,False
7,0,1,3,1181.012946,1,1,30.740000,76.650000,52.0,116.853237,False,True,False
8,0,1,2,1040.000000,1,1,13.054202,77.674002,41.6,162.827783,True,False,False
9,0,1,2,879.120879,1,1,12.951610,80.140970,36.0,141.673147,False,True,False
10,0,0,3,1350.308642,1,1,26.724219,88.326357,35.0,37.712048,False,True,False
11,0,0,2,1333.010179,1,1,13.040340,77.591347,110.0,162.827783,True,False,False
12,0,0,2,927.177902,1,1,12.969910,77.597960,48.0,162.827783,False,True,False
13,0,1,2,1122.171946,1,1,28.587711,77.403123,62.0,135.036791,False,True,False
14,0,0,1,649.983750,1,1,13.035200,77.577200,20.0,28.918462,False,True,False
15,1,1,3,1394.117647,0,1,28.429614,77.481711,71.1,135.036791,True,False,False
16,0,0,3,1800.084710,1,1,20.275267,85.862407,85.0,60.595532,False,True,False
17,1,1,3,2124.896706,0,1,12.885500,77.563800,180.0,162.827783,True,False,False
18,0,0,2,1100.000000,1,1,21.153890,79.083060,22.0,24.400000,False,True,False
19,0,1,3,2178.649237,1,1,13.092356,77.613468,120.0,162.827783,True,False,False
20,0,0,2,881.143529,1,1,13.050000,80.110000,45.0,141.673147,False,True,False
21,0,0,2,944.881890,1,1,18.452663,73.931040,42.0,134.196961,True,False,False
22,0,1,3,1310.147689,1,1,28.504100,77.381557,55.0,135.036791,True,False,False
23,0,0,1,630.000630,1,1,19.054440,72.840560,300.0,264.615868,True,False,False
24,0,0,2,1219.809710,1,1,21.105779,79.078497,50.0,66.303869,True,False,False
25,0,0,2,780.141844,1,1,22.541110,88.337780,27.5,99.807080,False,True,False
26,0,0,3,1600.000000,1,1,28.636010,77.433724,46.0,54.406964,False,True,False
27,0,0,2,1180.412371,1,1,30.712867,76.648557,22.9,116.853237,True,False,False
28,1,0,2,1000.000000,0,1,24.480000,86.700000,39.0,34.050000,False,True,False
29,0,0,2,1000.000000,1,1,28.210200,76.860600,12.5,25.418634,True,False,False

In [179]:
df_house.astype(float)

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)_x,TARGET(PRICE_IN_LACS)_y,POSTED_BY_Dealer,POSTED_BY_Owner,BHK_OR_RK_RK
0,0.0,0.0,2.0,1300.236407,1.0,1.0,12.969910,77.597960,55.0,162.827783,0.0,1.0,0.0
1,0.0,0.0,2.0,1275.000000,1.0,1.0,12.274538,76.644605,51.0,62.353488,1.0,0.0,0.0
2,0.0,0.0,2.0,933.159722,1.0,1.0,12.778033,77.632191,43.0,162.827783,0.0,1.0,0.0
3,0.0,1.0,2.0,929.921143,1.0,1.0,28.642300,77.344500,62.5,54.406964,0.0,1.0,0.0
4,1.0,0.0,2.0,999.009247,0.0,1.0,22.592200,88.484911,60.5,99.807080,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29446,0.0,0.0,3.0,2500.000000,1.0,1.0,27.140626,78.043277,45.0,39.883133,0.0,1.0,0.0
29447,0.0,0.0,2.0,769.230769,1.0,1.0,39.945409,-86.150721,16.0,24.427027,0.0,1.0,0.0
29448,0.0,0.0,2.0,1022.641509,1.0,1.0,26.928785,75.828002,27.1,55.332848,1.0,0.0,0.0
29449,0.0,0.0,2.0,927.079009,1.0,1.0,12.900150,80.227910,67.0,141.673147,0.0,1.0,0.0
29450,0.0,1.0,2.0,896.774194,1.0,1.0,26.832353,75.841749,27.8,55.332848,1.0,0.0,0.0

In [181]:
# checking if there are any Nan values 
df_house.isna().any()

UNDER_CONSTRUCTION         False
RERA                       False
BHK_NO.                    False
SQUARE_FT                  False
READY_TO_MOVE              False
RESALE                     False
LONGITUDE                  False
LATITUDE                   False
TARGET(PRICE_IN_LACS)_x    False
TARGET(PRICE_IN_LACS)_y    False
POSTED_BY_Dealer           False
POSTED_BY_Owner            False
BHK_OR_RK_RK               False
dtype: bool

In [182]:
#Creating the dataset 

X = df_house
y = df_house['TARGET(PRICE_IN_LACS)_x']

In [184]:
X = remove_col(X,'TARGET(PRICE_IN_LACS)_x')

In [73]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

In [188]:
def create_train_test(X,y,frac):
   X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = frac)

In [189]:
create_train_test(X,y,0.2)

In [190]:
len(X_train),len(y_train),len(X_test),len(y_test)

(23560, 23560, 5891, 5891)

In [192]:
#Creating a baseline model using linear regression 

lr = LinearRegression()

def model_fitter(model, X_train, y_train):
    model.fit(X_train, y_train)
# fitting the training and testing data to the model
model_fitter(lr, X_train, y_train)

In [193]:
# testing the model

def model_test(model, X_test,y_test):
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_pred,y_test)
    mse = mean_squared_error(y_pred,y_test)
    r2 = r2_score(y_pred,y_test)
    print(f'Mean Absolute Error: {mae}')
    print(f'Mean Squared Error: {mse}')
    print(f'R^2 Score: {r2}')

    return y_pred, mae, mse, r2

In [194]:
y_pred,mae,mse,r2 = model_test(lr,X_test,y_test)

Mean Absolute Error: 138.7370837218262
Mean Squared Error: 368322.906783032
R^2 Score: -12.639567288425415

In [195]:
# Since the error values and R^2 scores are high we'll shift to random forest regression 
rfr = RandomForestRegressor(random_state= 13)
model_fitter(rfr,X_train,y_train)
y_pred,mae,mse,r2 = model_test(rfr,X_test,y_test)

Mean Absolute Error: 31.603377933657
Mean Squared Error: 19475.29875505053
R^2 Score: 0.9516709189544453

In [196]:
# finds the ideal number of estimators that provide the performance 
param_grid = {
    'n_estimators' : [50,100,200,300]
}
rfr = RandomForestRegressor(random_state=13)

grid_search = GridSearchCV(estimator= rfr, param_grid= param_grid,cv=5, scoring='neg_mean_squared_error')

grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=13),
             param_grid={'n_estimators': [50, 100, 200, 300]},
             scoring='neg_mean_squared_error')

In [197]:
best_model = grid_search.best_estimator_

In [199]:
y_pred2,mae2,mse2,r22 = model_test(best_model, X_test,y_test)

Mean Absolute Error: 30.989395023409806
Mean Squared Error: 18358.835506514566
R^2 Score: 0.954449891450155

In [200]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(rfr, X, y, cv=5, scoring='neg_mean_squared_error')